{% extends 'base.html.twig' %}

{% block title %}
    BoutikEL
{% endblock %}

{% block body %}

<h3>
	A PROPOS DE BOUTIQUE EN LIGNE
</h3>
<hr style="width:100%; height:10px; background-color:#1B4F72 ">



{% endblock %}
