
{# Utilisation de la commande {{ }} #}


<h4>
     {{ 'Exemple dAffichage' }} {# Affichage de Chaine de caracteres#}<br>
    {{ 1000 }}  {# Affichage de Nombres#}
</h4>

{# Utilisation de la commande {% %} #}
<br>
{% set data = 'Developpeur 2023' %}  {# declaration de variable "data"#}                                  
{{ data }} {# Affichage de la variable #}<br><br>

{% set animal = 'oiseaux' %}
{{ "il y a des # {animal} sur le toit" }}



