{% extends 'base.html.twig' %}

{% block title %}Ma Boutique EL
{% endblock %}

{% block body %}

<div class="jumbotron">
	<article>
		<h2>
			Edition Article
		</h2>
		<div class="metadata">
			<p>
				Dans la Categorie:
			</p>
		</div>
	</article>
</div>

<div
	class="container">

	{{ form_start(formArticle) }}
        {{ form_widget(formArticle) }}<br><br>
	<button type="submit" class="btn btn-success">
		Modifier
	</button>
	<p></p>
	<br>
</br>
    {{ form_end(formArticle) }}
</div>
{% endblock %}
